.catalog__section
{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* ГРАДИЕНТ: */
    background: linear-gradient(180deg, 
        #000000 35%,      /* Глубокий черный в самом верху */
        #2a0404 63%,     /* Плавный переход в темно-темно-красный */
        #480607 83%,     /* Твой основной цвет (максимум яркости под карточками) */
        #480607 100%     /* Чистый твой цвет в самом низу для стыковки */
    );
    
    margin-bottom: 0;    /* Убираем отступы, чтобы секции слиплись */
    padding: 60px 0 20px 0; 
    
}
.suppliers__section { 
    background-color: #3d0000; 
}

.catalog__section-text
{
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    color: #fff;
    
}

.catalog__section-cards-wr
{    display: flex;
    gap: 70px;
    margin-bottom: 102px;
    justify-content: center;
    margin-top: 25px;
}


.catalog__section-cards
{
    display: flex;
    flex-direction: column;
    gap: 31px;
    background-color: #fff;
    padding: 30px 20px;
    align-items: center;
    width: 295px;
    border-radius: 15px;
}

.catalog__section-cards img
{
    width: 244px;
    height: 179px;
}

.g-button.catalog__button
{       
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    color: #fff;
    border-radius: 46px;
    max-width: 248px;
    
}

.catalog__section-button
{
    background: #191717;
    border-radius: 13px;
    width: 454px;
    height: 89px;
    font-weight: 400;
    font-size: 40px;
    line-height: 150%;
    color: #fff;
    margin-bottom: 64px;
    border: none;
    padding:15px 56px ;
}