.event__section
{
    text-align: center;
    border-radius: 47px;
    margin-bottom: 117px;
}

.event__section-white-bg
{
    max-height: 1980px;
    background-color: #fff;
}

.event__section-upper-text
{
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    color: #fff;
}

.event__section-text-wr
{
    background-image: url(..//imgs/img8.svg);    
    padding: 247px 963px 90px 105px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column; 
    gap: 7px;
    background-size: 100%;
    
    
}

.event__section-text
{
   
    
    font-weight: 400;
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    margin-bottom: 36px;
    
}

.event__section-descryption
{
    font-weight: 400;
    font-size: 32px;
    line-height: 200%;
    text-align: center;
    color: #fff;
    margin-bottom: 96px;
    
}

.g-button--events
{
    margin-bottom: 53px;
    padding: 20px 42px;
    font-size: 32px;
}

.event__section-white-bg
{
 margin-top: 36px;
}