.supplier__section
{
    text-align: center;
    
}

.supplier__section-text
{
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    color: #fff;
}

.supplier__section-div
{
    padding: 23px 49px 150px 867px;
    background-image: url(..//imgs/img12.svg);
    background-repeat: no-repeat;
    display: flex;
    gap: 72px;
}

.supplier__section-div-wr
{
    background-color: #fff;
    padding: 25px;
    
}

.supplier__section-div-text
{
    font-weight: 400;
    font-size: 40px;
    line-height: 150%;
    color: #fff;
}