.week__dish
{
    padding: 163px 710px 181px 130px;
    background-image: url(..//imgs/img1.svg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
.week__dish-text
{
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    color: #fff;
}
.week__dish-text:nth-child(2)
{
    margin-bottom: 40px;
}

.week__sale-text-wr {
    margin-right: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 220px;
    height: 131px;
    position: relative; 
    color: white;
    padding: 20px;
    
   
    isolation: isolate; 
}

/* Размытый фон */
.week__sale-text-wr::before {
    
    position: absolute;
    
    background-color: #480607;
    filter: blur(5px);
    border: 1px solid #000;
    z-index: -1; 
}

.week__sale-text-wr > * {
    position: relative;
    z-index: 2;
}



.week__sale-text-wr::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: inherit;
    filter: blur(10px);
    z-index: 1;
}

.week__sale-text
{
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #fff;
    position: relative;
    box-sizing: border-box;
}

.week__sale-percent 
{
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    color: #fff;
}
